In [8]:
y_data = pd.read_csv('y_cacat.csv')

In [12]:
y_data = pd.read_csv('y.csv')

In [2]:
import pandas as pd

In [13]:
y_data.head()

   Unnamed: 0 quality
0           0     Bad
1           1     Bad
2           2     Bad
3           3    Good
4           4     Bad

In [9]:
y_data.drop(y_data.columns[0], axis=1, inplace = True)

In [11]:
y_data.to_csv('y.csv')